ATLASMIND_API_URL=https://atlasmind-api-xxxxxx-ew.a.run.app

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=atlasmind-stage.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=atlasmind-stage
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=atlasmind-stage.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_WORKSPACE_DOMAIN=atlasmind.ai
